* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vw;
}

.sidebar {
  background-color: #0ea5e9;
  color: white;
}

.dashboard {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.icon-row {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.icon-row p {
  margin-left: 30px;
}

.break, .first {
  margin-top: 60px;
}

.main {
  display: grid;
  grid-template-rows: 20% 80%;
  
}

.navBar {
  background-color: white;
  display: grid;
  grid-template-rows: 40% 60%;
}

.navTop, .navBottom, .welcome-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.form-input {
  width: 250px;
  height: 30px;
  background-color: lightgray;
  border: 2px black;
  border-radius: 15px;
  flex: 1;
  max-width: 700px;
  margin-right: 50px;
}

.navBottom {
  justify-content: space-between;
}

.welcome-message {
  flex-direction: column;
}

.btn {
  background-color: #0ea5e9;
  border-radius: 15px;
  border: white;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  width: 80px;
  font-weight: 700;
}

.beginning {
  margin-left: 20px;
}

.content {
  background-color: #d4d4d4;
  display: grid;
  grid-template-columns: 70% 30%;
}

.projects {
  margin-left: 30px;
  margin-top: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card{
  background-color: white;
  width: 300px;
  height: 150px;
  border-left: 6px solid goldenrod;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.icons {
  justify-content: right;
  margin-top: 20px;
}

.announcements {
  margin-left: 30px;
  margin-top: 30px;
}

.updateContent {
  background-color: white;
  height: 300px;
  margin-bottom: 30px;
 
}

.trendContent {
  background-color: white;
  height: 200px;
  
}

.updateContent, .trendContent {
  width: 300px;
  margin-top: 10px;
  padding: 30px 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.updateCard {
  margin-top: 20px;
}

.trendContent {
  justify-content: center;
  align-items: center;
}

.userRow {
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
}
.userContent {
  margin-left: 10px;
}

.tag {
  font-weight: 600;
}